.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-code {
    background-color: #1453b1;
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
}

.text-highlight {
    margin: 0 5px;
}

.text-strikethrough {
    text-decoration: line-through;
}

.text-subscript {
    vertical-align: sub;
}

.text-superscript {
    vertical-align: super;
}

.text-link {
    cursor: pointer;
    text-decoration: underline;
    color: oklch(93.2% 0.032 255.585);
}

.text-quote {
    background-color: oklch(37.3% 0.034 259.733);
    padding-left: 15px;
    margin: 5px 0;
}

p {
    margin: 0;
}

.keyword {
    background-color: aquamarine;
}