body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

.switch-container {
  margin: 5px;
}

.switch>input {
  margin-left: 5px;
}

.ol1 {
  padding: 0;
  margin: 0;
  list-style-type: decimal;
  list-style-position: outside;
}

.ol2 {
  padding: 0;
  margin: 0;
  list-style-type: upper-alpha;
  list-style-position: outside;
}

.ol3 {
  padding: 0;
  margin: 0;
  list-style-type: lower-alpha;
  list-style-position: outside;
}

.ol4 {
  padding: 0;
  margin: 0;
  list-style-type: upper-roman;
  list-style-position: outside;
}

.ol5 {
  padding: 0;
  margin: 0;
  list-style-type: lower-roman;
  list-style-position: outside;
}

.ul {
  padding: 0;
  margin: 0;
  list-style-type: disc;
  list-style-position: outside;
}

.listItem {
  margin-left: 16px;
  font-family: var(--listitem-marker-font-family);
  font-size: var(--listitem-marker-font-size);
  background-color: var(--listitem-marker-background-color);
}

.listItem::marker {
  color: var(--listitem-marker-color);
  background-color: var(--listitem-marker-background-color);
  font-family: var(--listitem-marker-font-family);
  font-size: var(--listitem-marker-font-size);
}

.listItemChecked,
.listItemUnchecked {
  position: relative;
  margin-left: 0.5em;
  padding-left: 1.5em;
  /* margin-right: 0.5em;
  padding-right: 1.5em; */
  list-style-type: none;
  outline: none;
  display: block;
  min-height: 1.5em;
}

.listItemChecked>*,
.listItemUnchecked>* {
  margin-left: 0.01em;
}

.listItemUnchecked:before,
.listItemChecked:before {
  content: '\200B';
  width: 0.9em;
  height: 0.9em;
  top: 50%;
  left: 0;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
  transform: translateY(-50%);
}

.listItemChecked {
  text-decoration: line-through;
}

.listItemUnchecked:focus:before,
.listItemChecked:focus:before {
  box-shadow: 0 0 0 2px #a6cdfe;
  border-radius: 2px;
}

.listItemUnchecked:before {
  border: 1px solid #999;
  border-radius: 2px;
}

.listItemChecked:before {
  border: 1px solid rgb(61, 135, 245);
  border-radius: 2px;
  background-color: #3d87f5;
  background-repeat: no-repeat;
}

.listItemChecked:after {
  content: '';
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  position: absolute;
  display: block;
  top: 45%;
  width: 0.2em;
  left: 0.35em;
  height: 0.4em;
  transform: translateY(-50%) rotate(45deg);
  border-width: 0 0.1em 0.1em 0;
}

.nestedListItem {
  list-style-type: none;
}

.nestedListItem:before,
.nestedListItem:after {
  display: none;
}